* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white: hsl(0, 0%, 100%);

  --stone100: hsl(30, 54%, 90%);
  --stone150: hsl(30, 18%, 87%);
  --stone600: hsl(30, 10%, 34%);
  --stone900: hsl(24, 5%, 18%);

  --brown800: hsl(14, 45%, 36%);

  --rose800: hsl(332, 51%, 32%);
  --rose50: hsl(330, 100%, 98%);
}
body {
  font-family: "Young Serif", serif;
  font-family: "Outfit", sans-serif;
  background-color: hsl(30, 54%, 90%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  height: 50%;
  background-color: white;
  border-radius: 10px;
}
.background img {
  width: 100%;
  height: 40vh;
  padding: 40px;
  border-radius: 15px;
}
.mark {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Simple {
  font-family: "Young Serif", serif;
  font-weight: 400;
  color: var(--stone900);
}
p {
  font-family: "Outfit", sans-serif;
  color: var(--stone600);
  padding: 20px;
}

.list {
  background-color: hsl(330, 100%, 98%);
  width: 100%;
  height: 20vh;
  padding: 25px;
  border-radius: 10px;
  gap: 20px;
  font-family: "Outfit", sans-serif;
}
ul {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.Preparation {
  color: var(--rose800);
}
li {
  color: var(--stone600);
}
.Ingredients {
  color: var(--brown800);
  font-family: "Young Serif", serif;
}
.Instr {
  padding: 10px;
  line-height: 30px;
}
.Instructions {
  color: var(--brown800);
  font-family: "Young Serif", serif;
}
.Ing {
  padding: 30px;
  line-height: 30px;
}
.Nutrition {
  color: var(--brown800);
  padding-top: 30px;

  font-family: "Young Serif", serif;
}
.Nutr {
  line-height: 30px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
.bold {
  color: var(--brown800);
  font-family: "Outfit", sans-serif;
  font-weight: 800;
}
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

@media screen and (max-width: 950px) {
  body {
    background-color: white;
  }
  .background img {
    height: 40vh;
    width: 110%;
    border-radius: 20px;
  }
  .list {
    width: 100%;
    height: 20vh;
  }
  .Simple {
    font-size: larger;
  }
}
